<script>
    let treeViewNodes = {
        {% for node in nodes %}
            {% if node.enabled == True %}
                "{{node.node_id}}":{id:"{{node.node_id}}", data: [
                    {% for attribute in node.data.all %}
                        {name: "{{attribute.name}}", value: "{{attribute.value}}"},
                    {% endfor %}
                ], node_name:"{{ node.name }}"},
            {% endif %}
        {% endfor %}
    };

    let treeViewEdges = [
        {% for edge in edges %}
            {% if edge.enabled == True %}
                {source:"{{edge.start_node.node_id}}",target:"{{edge.end_node.node_id}}"},
            {% endif %}
        {% endfor %}
    ]

    let treeViewRootNodes = {
        {% for node in root_nodes %}
            {% if node.enabled == True %}
                "{{node.node_id}}":{id:"{{node.node_id}}", data: [
                    {% for attribute in node.data.all %}
                        {name: "{{attribute.name}}", value: "{{attribute.value}}"},
                    {% endfor %}
                ], node_name:"{{ node.name }}"},
            {% endif %}
        {% endfor %}
    };

    function formatTreeView(data) {
        let formattedData = "";
        for (let atr of data)
            formattedData += atr.name + ": " + atr.value + "\n\n";
        return formattedData;
    }

    function createTreeView(nodes, ulTag) {
        for (let id in nodes) {
            let node = nodes[id];
            let liTag = document.createElement("li");
            let spanTag = document.createElement("span")
            spanTag.innerHTML = "+ " + node.id + " : " + node.node_name;
            liTag.appendChild(spanTag);

            liTag.addEventListener("mouseenter", function() {
              liTag.style.cursor = "pointer";
            });
            liTag.addEventListener("mouseleave", function() {
              liTag.style.cursor = "default";
            });

            spanTag.addEventListener("click", function() {
                document.getElementById("nodeData").innerText = formatTreeView(node.data);
                document.getElementById("node-data-title").innerText = node.id + " : " + node.node_name;
                if (spanTag.innerHTML[0] === "-") {
                    spanTag.innerHTML = "+ " + node.id + " : " + node.node_name;
                    let childUl = liTag.querySelector("ul");
                    if (childUl) {
                        liTag.removeChild(childUl);
                    }
                } else {
                    spanTag.innerHTML = "- " + node.id + " : " + node.node_name;
                    let childUl = document.createElement("ul");
                    childUl.style.listStyleType = "none";
                    liTag.appendChild(childUl);
                    createTreeView(getConnectedNodes(node), childUl);
                }
            });

            ulTag.appendChild(liTag);
        }
    }

    function getConnectedNodes(node) {
        let connectedNodes = []
        for (let edge of treeViewEdges) {
            if (edge.source === node.id) {
                connectedNodes.push(treeViewNodes[edge.target]);
            }
            {#else if (edge.target === node.id) {#}
            {#    connectedNodes.push(treeViewNodes[edge.source]);}#}
        }
        return connectedNodes;
    }

    createTreeView(treeViewRootNodes, document.getElementById("tree-view-list"));

</script>