svg{
  border:1px black solid;
  }


.plugin_container{
    background-color: midnightblue;
}

.page{
  text-align: center;
  margin: auto;
  min-width: 50%;
  width: 80%;
}

table{
  margin: 0 auto;
}

.label{
 clear: left;
}

.greska{
  color: red;
}
